<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edison.springbootdemo.dao.EmInfoMapper">
  <resultMap id="BaseResultMap" type="com.edison.springbootdemo.domain.EmInfo">
    <id column="em_id" jdbcType="INTEGER" property="emId" />
    <result column="em_name" jdbcType="VARCHAR" property="emName" />
    <result column="em_sex" jdbcType="VARCHAR" property="emSex" />
    <result column="em_birthday" jdbcType="DATE" property="emBirthday" />
    <result column="em_hiredate" jdbcType="DATE" property="emHiredate" />
    <result column="em_salary" jdbcType="DECIMAL" property="emSalary" />
  </resultMap>
  <sql id="Base_Column_List">
    em_id, em_name, em_sex, em_birthday, em_hiredate, em_salary
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from em_info
    where em_id = #{emId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from em_info
    where em_id = #{emId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.edison.springbootdemo.domain.EmInfo">
    insert into em_info (em_id, em_name, em_sex, 
      em_birthday, em_hiredate, em_salary
      )
    values (#{emId,jdbcType=INTEGER}, #{emName,jdbcType=VARCHAR}, #{emSex,jdbcType=VARCHAR}, 
      #{emBirthday,jdbcType=DATE}, #{emHiredate,jdbcType=DATE}, #{emSalary,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.edison.springbootdemo.domain.EmInfo">
    insert into em_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="emId != null">
        em_id,
      </if>
      <if test="emName != null">
        em_name,
      </if>
      <if test="emSex != null">
        em_sex,
      </if>
      <if test="emBirthday != null">
        em_birthday,
      </if>
      <if test="emHiredate != null">
        em_hiredate,
      </if>
      <if test="emSalary != null">
        em_salary,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="emId != null">
        #{emId,jdbcType=INTEGER},
      </if>
      <if test="emName != null">
        #{emName,jdbcType=VARCHAR},
      </if>
      <if test="emSex != null">
        #{emSex,jdbcType=VARCHAR},
      </if>
      <if test="emBirthday != null">
        #{emBirthday,jdbcType=DATE},
      </if>
      <if test="emHiredate != null">
        #{emHiredate,jdbcType=DATE},
      </if>
      <if test="emSalary != null">
        #{emSalary,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.edison.springbootdemo.domain.EmInfo">
    update em_info
    <set>
      <if test="emName != null">
        em_name = #{emName,jdbcType=VARCHAR},
      </if>
      <if test="emSex != null">
        em_sex = #{emSex,jdbcType=VARCHAR},
      </if>
      <if test="emBirthday != null">
        em_birthday = #{emBirthday,jdbcType=DATE},
      </if>
      <if test="emHiredate != null">
        em_hiredate = #{emHiredate,jdbcType=DATE},
      </if>
      <if test="emSalary != null">
        em_salary = #{emSalary,jdbcType=DECIMAL},
      </if>
    </set>
    where em_id = #{emId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.edison.springbootdemo.domain.EmInfo">
    update em_info
    set em_name = #{emName,jdbcType=VARCHAR},
      em_sex = #{emSex,jdbcType=VARCHAR},
      em_birthday = #{emBirthday,jdbcType=DATE},
      em_hiredate = #{emHiredate,jdbcType=DATE},
      em_salary = #{emSalary,jdbcType=DECIMAL}
    where em_id = #{emId,jdbcType=INTEGER}
  </update>
</mapper>